#addon-opt {
  background: white;
  position: absolute;
  z-index: 17000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

#addon-opt .close {
	position: absolute;
  top: : 0;
  right: 0;
  padding: 1em;
  font-size: 15px;
}

#addon-opt .title {
  padding: 1em;
  font-size: 20px;
}


#utility-tray-notifications textarea {
  padding: 0;
  margin: 0;
  height: 2em;
}
#notification-bar, #notifications-nested-scroll-interceptor {
  direction: none;
}